@page
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Mvc.Localization
@model CreativeCookies.VideoHosting.API.Areas.Identity.Pages.Account.ConfirmAccountModel
@inject IViewLocalizer Localizer
@inject IConfiguration Configuration

@{
    var clientAddress = Configuration["ClientUrl"];
}

<div style="margin-top: 10%; display: flex; align-items: center; justify-content: center; height: 100%;">
    <div style="text-align:center">
        <p class="text-center" style="font-size: large; font-weight: 600;">@Localizer["ConfirmAccountTxt1"]</p>
        <p class="text-center" style="font-size: medium; font-weight:200;">@Localizer["ConfirmAccountTxt2"]</p>
        <a href="@clientAddress">@Localizer["ConfirmAccountTxt3"] @Model.WebsiteName</a>
    </div>
</div>