@page
@model GenerateRecoveryCodesModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@Localizer["Generate2FARecoveryCodesTitle"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["PutTheseCodesInASafePlace"].</strong>
    </p>
    <p>
        @Localizer["Generate2FARecoveryCodesTxt1"].
    </p>
    <p>
        @Localizer["Generate2FARecoveryCodesTxt2"] <a asp-page="./ResetAuthenticator">@Localizer["Generate2FARecoveryCodesLink"].</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">@Localizer["Generate2FARecoveryCodesBtn"]</button>
    </form>
</div>
