@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@Localizer["2FA"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["YouHave"] @Localizer["NoRecoveryCodes"].</strong>
                    <p>@Localizer["YouMust"] <a asp-page="./GenerateRecoveryCodes">@Localizer["GenerateANewSetOfRecoveryCodes"]</a> @Localizer["BeforeYouCanLoginWithARecoveryCode"].</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>@Localizer["YouHave"] 1 @Localizer["RecoveryCodesLeft"].</strong>
                    <p>@Localizer["YouCan"] <a asp-page="./GenerateRecoveryCodes">@Localizer["GenerateANewSetOfRecoveryCodes"]</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>@Localizer["YouHave"] @Model.RecoveryCodesLeft @Localizer["RecoveryCodesLeft"].</strong>
                    <p>@Localizer["YouShould"] <a asp-page="./GenerateRecoveryCodes">@Localizer["GenerateANewSetOfRecoveryCodes"]</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">@Localizer["ForgetThisBrowser"]</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer["Disable2FA"]</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer["ResetRecoveryCodes"]</a>
        }

        <h4>@Localizer["AuthenticatorApp"]</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["AddAuthApp"]</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["SetUpAuthApp"]</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer["ResetAuthApp"]</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>@Localizer["PrivacyCookieNotAccepted"].</strong>
            <p>@Localizer["YouMustAcceptThePolicy"].</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
