@model CreativeCookies.VideoHosting.API.Templates.AccountResetPasswordEmailTemplateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<p style="font-size:18px; font-weight:600;">@Localizer["Hello"], @Model.RecipientName,</p>

<p style="font-size:16px; font-weight:500;">@Model.Introduction</p>

<p style="font-size:16px; font-weight:500;">@Localizer["ForgotPasswordEmailTxt1"] <a href='@Model.ResetPasswordLink'>@Localizer["ForgotPasswordEmailTxt2"]</a></p>

<p style="font-size:16px; font-weight:500;">@Localizer["BestRegards"],</p>

<p style="font-size:16px; font-weight:500;">@Model.WebsiteName</p>