@model CreativeCookies.VideoHosting.API.Templates.EmailTemplateViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<p style="font-size:18px; font-family: 'Comic Sans MS'; font-weight:600;">@Localizer["Hello"], @Model.RecipientName,</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Model.Introduction</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Model.Message</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Localizer["BestRegards"],</p>

<p style="font-size:16px; font-family: 'Comic Sans MS'; font-weight:500;">@Model.WebsiteName</p>